*{
margin-left: 0px;
margin-top: 0px;
font-family: sans-serif;
}

nav{
    background-color: rgba(12, 12, 12, 0.7);
    position: fixed;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.nav-parent{
    color: rgb(210, 205, 205);
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 65%;
    font-size: 12px;
    font-weight: 600;
}
.nav-last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    display: none;
}
.nav-last > div{
   font-size: 20px;
}
@media (max-width:800px){
    .nav-parent{width: 100%;}
    .nav-parent > span{display: none;}
    .nav-last{display: flex;}
}
.bg-image{
    width: 100%;
     height: 650px;
    background-image: url(apple.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.icon-bg-image{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-bg-image > p{
    font-size: 28px;
    font-weight: lighter;
    color: rgb(77, 76, 76);
    margin-top: 10px;
}
.bg-image-btn1{
    font-size: 20px;
    cursor: pointer;
    color: #06c;
}
.bg-image-btn2{
    font-size: 20px;
    cursor: pointer;
    color: #06c;
    margin-left: 20px;
}
.bg-image-btn1:hover{
    text-decoration: underline;
} 
.bg-image-btn2:hover{
    text-decoration: underline;
}
.bg-image-iphone{
    margin-top: 10px;
    width: 100%;
     height: 550px;
    background-image: url(iphone15-2.jpg);
    background-size: cover;
    background-position: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.icon-bg-iphone{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    margin-top: 30px;
}
.icon-bg-iphone > h2{
    font-size: 55px;
    margin-bottom: 10px;
}
.icon-bg-iphone > p{
    font-size: 28px;
}
 .bg-iphone-btn1{
        font-size: 22px;
        cursor: pointer;
        color: #06c;
}
 .bg-iphone-btn2{
        font-size: 22px;
        cursor: pointer;
        color: #06c;
        margin-left: 20px;
}
.bg-iphone-btn1:hover{
        text-decoration: underline;
} 
.bg-iphone-btn2:hover{
        text-decoration: underline;
}
.bg-image-iphone15{
        margin-top: 10px;
        width: 100%;
         height: 550px;
        background-image: url(iphone15.jpg);
        background-size: cover;
        background-position: 60%;
        display: flex;
    align-items: start;
    justify-content: center;
}
.icon-bg-iphone15{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
    color:black;
}
.icon-bg-iphone15 > h2{
    font-size: 55px;
    margin-bottom: 10px;
}
.icon-bg-iphone15 > p{
    font-size: 28px;
}
.bg-iphone15-btn1{
            font-size: 22px;
            cursor: pointer;
            color: #06c;
}
.bg-iphone15-btn2{
            font-size: 22px;
            cursor: pointer;
            color: #06c;
}
.bg-iphone15-btn1:hover{
            text-decoration: underline;
} 
.bg-iphone15-btn2:hover{
            text-decoration: underline;
}
.pic-section{
height: 100%;
width: 100%;
margin: 15px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.pic1{
    background-image: url(pic11.jpg);
    height: 550px;
    width: 48%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
}
@media (max-width:800px){
    .pic1{
        width: 100%;
    }
}
.pic1-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.pic1-info > h1{
    font-size: 38px;
    cursor: pointer;
}
.pic1-info > p{
    font-size: 21px;
    cursor: pointer;
}
.pic1-info >a{
    font-size: 21px; 
    cursor: pointer;
    text-decoration: none;
    color: #06c;
}
.pic1-info > a:hover{
    text-decoration: underline;
}
.pic2{
    background-image: url(pic22.jpg);
    width: 48%;
    height: 550px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}
@media (max-width:800px){
    .pic2{
        width: 100%;
    }
}
.pic2-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}
.pic2-info > img{
    cursor: pointer;
}
.pic2-info > p{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.pic2-link1{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}
.pic2-link1:hover{
    text-decoration: underline;
}
.pic2-link2{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}
.pic2-link2:hover{
    text-decoration: underline;
}
.pic3{
    background-image: url(pic33.jpg);
    height: 550px;
    width: 48%;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}
@media (max-width:800px){
    .pic3{
        width: 100%;
    }
}
.pic3-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}
.pic3-info > h1{
    font-size: 40px;
    cursor: pointer;
}
.pic3-info > p{
    font-size: 20px;
    cursor: pointer;
}
.pic3-link1{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}
.pic3-link1:hover{
    text-decoration: underline;
}
.pic3-link2{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}
.pic3-link2:hover{
    text-decoration: underline;
}
.pic4{
    background-image: url(pic44.jpg);
    width: 48%;
    height: 550px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}
@media (max-width:800px){
    .pic4{
        width: 100%;
    }
}
.pic4-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}
.pic4-info > img{
    cursor: pointer;
}
.pic4-info > p{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.pic4-link1{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.pic4-link1:hover{
    text-decoration: underline;
}
.pic4-link2{
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}
.pic4-link2:hover{
    text-decoration: underline;
}
.pic5{
    background-image: url(pic55.jpg);
    height: 550px;
    width: 48%;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}
@media (max-width:800px){
    .pic5{
        width: 100%;
    }
}
.pic5-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px; 
}
.pic5-info > img{
    cursor: pointer;
}
.pic5-info > p{
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.pic5-link1{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}
.pic5-link1:hover{
    text-decoration: underline;
}
.pic5-link2{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}
.pic5-link2:hover{
    text-decoration: underline;
}
.pic6{
    background-image: url(pic66.jpg);
    width: 48%;
    height: 550px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}
@media (max-width:800px){
    .pic6{
        width: 100%;
    }
}
.pic6-info{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}
.pic6-info > img{
    cursor: pointer;
}
.pic6-info > p{
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.pic6-link1{
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}
.pic6-link1:hover{
    text-decoration: underline;
}
.footer-parent{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; 
    flex-wrap: wrap;
    background-color: rgb(239, 239, 230);  
}
.footer-p{
    width: 70%;
    margin: 15px;
    border-bottom: 1px solid gray;
}
@media (max-width:800px){
    .footer-p{
        width: 100%;
    }
}
.footer-p > p{
    color: gray;
    font-size: 13px;
}
.footer-p > p > a{
    color: black;
}
.footer-a{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:800px){
    .footer-a{
        width: 100%;
    }
}
.footer-a1{
    width: 20%;
}
.footer-a2{
    width: 20%;
}
.footer-a3{
    width: 20%;
}
.footer-a4{
    width: 20%;
}
.footer-a5{
    width: 20%;
}
h3{
    font-size: 15px;
    color: rgb(74, 74, 74);
}
.footer-a1 >p{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.footer-a1 >p:hover{
    text-decoration: underline;
}
.footer-a2 > p{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.footer-a2 >p:hover{
    text-decoration: underline;
}
.footer-a3 > p{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.footer-a3 >p:hover{
    text-decoration: underline;
}
.footer-a4 >p{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.footer-a4 >p:hover{
    text-decoration: underline;
}
.footer-a5 >p{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.footer-a5 >p:hover{
    text-decoration: underline;
}
.footer-last{
    color: gray;
    font-size: 12px;
    margin: 20px 0px;
    width: 70%;
    border-bottom: 1px solid gray;
}
@media (max-width:800px){
    .footer-last{
        width: 100%;
    }
}
.footer-last >p{
    text-align: left;
}
.footer-end{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:800px){
    .footer-end{
        width: 100%;
    }
}
.footer-end{
    font-size: 12px;
    color: gray;
}
.footer-end > span > a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
}
.footer-end > span > a:hover{
    text-decoration: underline;
}